import java.util.Scanner;
import java.util.Random;
public class Game{
    public static void main(String[] args){
        Scanner sc=new Scanner(System.in);
        int k1=0;
        while(k1!=-1){
        System.out.println("enter the name of the player:");
        String p1=sc.next();
        String list[]={"rock","Scissors","papers"};
        System.out.println("enter your choice(rock/paper/scissors):");
        String c1=sc.next();
        Random r=new Random();
        int r1=r.nextInt(3);
        String n1;
        if (r1 == 0) {
            n1= "rock";
        } else if (r1 == 1) {
            n1 = "paper";
        } else {
            n1= "scissors";
        }
        System.out.println("Computer chose:" + n1);
      if(c1.equals(n1)){
          System.out.println("its a tie");
      }
     else if(c1.equals("rock")){
          if(n1.equals("paper")){
              System.out.println("computer wins");
          }
          else{
              System.out.println(p1+" "+"wins");
          }
      }
      else if(c1.equals("paper")){
          if(n1.equals("scissors")){
              System.out.println("computer wins");
          }
          else{
              System.out.println(p1+" "+"player wins");
          }
      }
      else if(c1.equals("scissors")){
          if(n1.equals("rock")){
              System.out.println("computer wins");
          }
          else{
              System.out.println(p1+" "+"wins");
          }
      }
      System.out.println("play again");
      System.out.println("***enter any key between(0-9)***");
          k1=sc.nextInt();
          if(k1==-1){
              System.out.println("GAME ENDED");
      }
     
      }
    }
}



















